* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {

	font-size: 62.5%;

	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);

	--ff-league-spartan: 'League Spartan', sans-serif;

}

body {
	font-family: var(--ff-league-spartan);
	font-size: 1.5rem;
	min-height: 100vh;
	display: grid;
	place-content: center;
}

.page {

	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 5.0rem 3.0rem;
}

.introduction {
	display: flex;
	justify-content: center;
}

header {
	text-align: center;
	width: 85%;
}

h1 {
	font-weight: 700;
	color: var(--very-dark-magenta);
	padding-bottom: 2.0rem;
}

.main_paragraph {
	margin-bottom: 1.5rem;

	color: var(--dark-grayish-magenta);

	font-weight: 400;

	line-height: 2.0rem;
}

.reviews_container {

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-weight: 700;

	margin: 10px 0;
}

.rating {
	background-color: var(--light-grayish-magenta);
	text-align: center;

	font-weight: 700;

	width: 83vw;
	height: 8.0rem;

	border-radius: 0.8rem;

	margin-top: 2.0rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rating::before {
	margin: 0 auto 1.0rem auto;

	width: 10.0rem;
	height: 1.6rem;

	content: '';
	background-image: url(images/icon-star.svg);

	background-repeat: space;
}

.opinions_container {
	margin-top: 4.0rem;
}

.opinion_container {

	width: 83vw;
	display: flex;
	flex-direction: column;

	padding: 3.7rem;

	background-color: var(--very-dark-magenta);

	border-radius: 1.0rem;
}

.opinion_container + .opinion_container {
	margin-top: 1.2rem;
}

.opinion_container_header {
	display: flex;
	gap: 2.5rem;
	align-items: center;

	padding-bottom: 2.0rem;
}

h4 {
	font-weight: 500;
	color: var(--light-grayish-magenta);
	margin-bottom: 5px;
}

span {
	color: var(--soft-pink);
}

.opinion_container_body p {
	font-weight: 400;
	color: var(--light-grayish-magenta);
	line-height: 2.0rem;
}

img {
	width: 3.5rem;
	border-radius: 4.5rem;
	object-position: center;
	object-fit: cover;
}

.attribution {
	margin-top: 8px;
	font-size: 12px;
    text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	cursor: pointer;
	color: hsl(228, 100%, 44%);
}

@media (min-width: 900px) {

	.page {
		display: grid;
		width: 95vw;
		margin: 4rem auto;
		grid-template-areas: 
		"main_title				reviews_container"			
		"main_paragraph			reviews_container"
		"opinions_container		opinions_container"
		"attribution			attribution";
	}

	header {
		text-align: left;
		width: 100%;
	}

	.main_title {
		max-width: 20.0rem;
		grid-area: main_title;
	}

	.reviews_container {
		max-width: 60vw;
		grid-area: reviews_container;
		margin-left: auto;
	}

	.rating::before {
		margin: 0 3.0rem 0 0;

	}

	.rating {
		flex-direction: row;
		align-items: center;
		/*justify-content: space-around;*/
	}

	.main_paragraph {
		max-width: 25vw;
		grid-area: main_paragraph;
	}

	.opinions_container {
		width: 95vw;
		height: 30.0rem;
		grid-area: opinions_container;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
	}

	.opinion_container:first-of-type {
		align-self: flex-start;
	}

	.opinion_container:nth-child(2) {
		align-self: center;
	}

	.opinion_container:last-of-type {
		align-self: flex-end;
	}

	.opinion_container + .opinion_container {
		margin-top: 0;
	}

	.rating {
		max-width: 80%;
	}

	.rating:first-of-type {
		margin-top: 0;
		padding-top: 0;
		height: 5.0rem;
	}

	.rating:nth-child(2) {
		height: 5.0rem;
		align-self: center;
	}

	.rating:last-of-type {
		height: 5.0rem;
		align-self: end;
	}

	.attribution {
		grid-area: attribution;
	}

}
