* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {

	font-size: 62.5%;

	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);

	--ff-league-spartan: 'League Spartan', sans-serif;

}

body {
	font-family: var(--ff-league-spartan);
	font-size: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 4.0rem 3.0rem;
}

header {
	text-align: center;
	width: 85%;
}

h1 {
	font-weight: 700;
	color: var(--very-dark-magenta);
	padding-bottom: 2.0rem;
}

.main_paragraph {
	margin-bottom: 3.5rem;

	color: var(--dark-grayish-magenta);

	font-weight: 400;

	line-height: 2.0rem;
}

.review_container {
	background-color: var(--light-grayish-magenta);
}

.opinion_card {
	display: flex;
	flex-direction: column;

	padding: 3.7rem;

	background-color: var(--very-dark-magenta);

	border-radius: 1.0rem;
}

.opinion_card + .opinion_card {
	margin-top: 1.2rem;
}

.opinion_card_header {
	display: flex;
	gap: 2.5rem;
	align-items: center;

	padding-bottom: 2.0rem;
}

h4 {
	font-weight: 500;
	color: var(--light-grayish-magenta);
	margin-bottom: 5px;
}

span {
	color: var(--soft-pink);
}

.opinion_card_body p {
	font-weight: 400;
	color: var(--light-grayish-magenta);
	line-height: 2.0rem;
}

img {
	width: 3.5rem;
	border-radius: 4.5rem;
	object-position: center;
	object-fit: cover;
}

.rating {
	font-weight: 700;
}

.rating::before {
	content: '';
	width: 10.0rem;
	height: 1.6rem;
	background-image: url(./images/icon-star.svg);
	background-repeat: space;
	margin-right: 3.0rem;
}

.attribution {
	margin-top: 8px;
	font-size: 12px;
    text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	cursor: pointer;
	color: hsl(228, 100%, 44%);
}
