/*@import "media_queries.css";*/

/* VARIABLES */

:root {

	font-size: 62.5%;

	--very-dark-magenta: hsl(300, 43%, 22%);
	--soft-pink: hsl(333, 80%, 67%);
	--dark-grayish-magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);

	--ff-league-spartan: 'League Spartan', sans-serif;

}

/*RESETS*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*LAYOUT MOBILE-FIRST*/

body {
	font-family: var(--ff-league-spartan);
	font-size: 1.5rem;

	background-image: url(images/bg-pattern-top-mobile.svg);
	background-position: top left;
	background-repeat: no-repeat;

	margin: 8.0rem 3.2rem;
}

main {
	max-width: 144.0rem;
}

.introduction {
	display: flex;
  	flex-direction: column;

  	margin: 0 auto 2.0rem auto;
  	text-align: center;
}

.main_title {
	max-width: 85%;
	text-align: center;
	margin: 0 auto;
}

h1 {
	font-weight: 700;
	color: var(--very-dark-magenta);
	padding-bottom: 2.0rem;
}

.main_paragraph {
	margin-bottom: 1.5rem;

	color: var(--dark-grayish-magenta);

	font-weight: 400;

	line-height: 2.0rem;
}

.reviews_container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 2.0rem;
}

.review_container {
	background-color: var(--light-grayish-magenta);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 5.0rem;

	border-radius: 0.8rem;

	/*margin-top: 2.0rem;*/
}

.rating::before {
	display: flex;
	flex-direction: column;
	margin: 0 auto 1.0rem auto;

	width: 10.0rem;
	height: 1.6rem;

	content: '';
	background-image: url(images/icon-star.svg);

	background-repeat: space;
}

.rating {
	font-weight: 700;
}

.opinions_container {
	margin-top: 4.0rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.opinion_container {

	display: flex;
	flex-direction: column;

	padding: 3.7rem;

	background-color: var(--very-dark-magenta);

	border-radius: 1.0rem;
}

.opinion_container_header {
	display: flex;
	gap: 2.5rem;
	align-items: center;

	padding-bottom: 2.0rem;
}

h2 {
	font-weight: 500;
	color: var(--light-grayish-magenta);
	margin-bottom: 5px;
}

span {
	color: var(--soft-pink);
}

.opinion_container_body p {
	font-weight: 400;
	color: var(--light-grayish-magenta);
	line-height: 2.0rem;
}

img {
	width: 3.5rem;
	border-radius: 4.5rem;
	object-position: center;
	object-fit: cover;
}

.attribution {
	margin-top: 8px;
	font-size: 12px;
    text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution a:hover {
	cursor: pointer;
	color: hsl(228, 100%, 44%);
}

/*LAYOUT DESKTOP*/

@media (min-width: 750px) {

	body {
		margin: 0;
		display: grid;
		place-content: center;
		min-height: 100vh;

		background-image: 	url(images/bg-pattern-top-desktop.svg),
    						url(images/bg-pattern-bottom-desktop.svg);
  		background-repeat: no-repeat, no-repeat;
  		background-position: top left, bottom right;

	}

	main {
		display: grid;

		padding: 0 2vw;

		grid-template-areas: 
		"introduction			reviews_container"
		"opinions_container		opinions_container";

		grid-template-columns: minmax(100px, 1fr) 1fr;
	}

	.introduction {
		grid-area: introduction;
		margin: 0 auto 0 0;
		text-align: left;
	}

	.main_title {
		max-width: 25.0rem;
		text-align: left;
		margin: 0;
	}

	.main_paragraph {
		max-width: 37.0rem;
	}

	.reviews_container {
		max-width: 60.0rem;
		grid-area: reviews_container;
		display: flex;
		flex-direction: column;
		/*margin-left: auto;*/
	}

	.review_container {
		width: 80%;
	}

	.review_container:first-of-type {
		align-self: flex-start;
	}

	.review_container:nth-child(2) {
		align-self: center;
	}

	.review_container:last-of-type {
		align-self: flex-end;
	}

	.opinions_container {
		max-width: 144.0rem;
		grid-area: opinions_container;
		flex-direction: row;
		justify-content: space-between;
	}

	.opinion_container {
		max-width: 32%;
		max-height: 90%;
	}

	.opinion_container:first-of-type {
		align-self: flex-start;
	}

	.opinion_container:nth-child(2) {
		align-self: center;
	}

	.opinion_container:last-of-type {
		align-self: flex-end;
	}

	.attribution {
		grid-area: attribution;
	}

}

@media (min-width: 1100px) {

	main {
		padding: 0 15vw;
	}
}